.profile{
    height: 300px;
    border-radius: 0px;
    box-shadow: 10px 10px 5px gray;
}

.text{
    font-weight: bold;
    font-size: 50px; 
    margin-left: 100px;
    color: black;
}


.buttons{
    margin-left: 100px;
}

.btn-1{
    background-color: tomato;

}

.btn-2{
    background-color: #8533ff;
    margin-left: 5px;
}

.btn-3{
    background-color: yellow;
    margin-left: 5px;
}

.btn-4{
    background-color: #66b3ff;
    margin-left: 5px;
}